$player-background-color: #eee;
$gray-border-color: #ccc;
@mixin line_and_height($height) {
  height: $height;
  line-height: $height;
}
@mixin bordered{ border: 1px solid $gray-border-color; }
/* Players list */
.players-list ul{
  @include bordered;
  background-color: $player-background-color;
}
.player {
  @include line_and_height(1.5em);
  border-bottom: 1px solid $gray-border-color;
  padding: 0.5em;
  &:last-child {border-bottom: none; }
  &:hover{ background-color: lighten($player-background-color, 10%); };
  &.live-edit{ background: palegoldenrod; }
  .number{
    color: #bbb;
    display: inline-block;
    width: 1.5em;
  }
}

/* Match log */

.move {
  padding: 1em;
  margin: 0 0 1em 0;
  @include bordered;
}

/* Field */
.field{
  position: relative;
  width: 270px;
  height: 500px;
  background-color: green;
}

.position-line{
  line-height: 20px;
  margin-bottom: 80px;
  text-align: center;
  &:last-of-type{ margin-bottom: 0;}
}

.player-marker{
  @include line_and_height(50px);
  background-color: lightblue;
  display: inline-block;
  font-size: 130%;
  margin: 0 15px;
  text-align: center;
  width: 30px;
  &.highlighted{ background: red; }
}

/* Goal */
.goal{
  position: absolute;
  height: 25px;
  width: 60px;
  background-color: red;
  top: 475px;
  left: 105px;
}