/* Players list */
.players-list ul {
  border: 1px solid #cccccc;
  background-color: #eeeeee; }

.player {
  height: 1.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #cccccc;
  padding: 0.5em; }
  .player:last-child {
    border-bottom: none; }
  .player:hover {
    background-color: white; }
  .player.live-edit {
    background: palegoldenrod; }
  .player .number {
    color: #bbb;
    display: inline-block;
    width: 1.5em; }

/* Match log */
.move {
  padding: 1em;
  margin: 0 0 1em 0;
  border: 1px solid #cccccc; }

/* Field */
.field {
  position: relative;
  width: 270px;
  height: 500px;
  background-color: green; }

.position-line {
  line-height: 20px;
  margin-bottom: 80px;
  text-align: center; }
  .position-line:last-of-type {
    margin-bottom: 0; }

.player-marker {
  height: 50px;
  line-height: 50px;
  background-color: lightblue;
  display: inline-block;
  font-size: 130%;
  margin: 0 15px;
  text-align: center;
  width: 30px; }
  .player-marker.highlighted {
    background: red; }

/* Goal */
.goal {
  position: absolute;
  height: 25px;
  width: 60px;
  background-color: red;
  top: 475px;
  left: 105px; }
